<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ma.carpooli.carpooli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".CarpooliApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c9c1c7ea7875e8fdd27f76fc4a196bd9ab2fa991" />

        <activity android:name=".ui.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.init.InitAppActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:label="@string/title_activity_sign_in" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.home.HomeFormActivity" />
        <activity android:name=".ui.liftsearchresult.LiftSearchResult" />
        <activity android:name=".ui.signup.AddProfilePictureActivity" />
        <activity android:name=".ui.signup.PhoneNumberActivity" />
        <activity android:name=".ui.ride.ShareRideActivity" />
        <activity android:name=".ui.signup.PhoneNumberVerificationActivity" />
        <activity android:name=".ui.signup.UserEmailSignupActivity"></activity>
    </application>

</manifest>